{% extends 'template/templateSemMenu.twig' %}

{% set active_page = active_page|default('home') %}

{% block menu %}
    <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ app.session.get('usuario').nome }}
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ app.request.basepath }}/documentacao/odontoIFMA-doc/index.html" target="_blank"><i class="fa fa-fw fa-book"></i>Manual técnico</a>
                            <a href="/logout"><i class="fa fa-fw fa-power-off"></i>Sair</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- MENU DA ESQUERDA -->

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    {% for item in app.session.get('usuario').recursos %}
                        {% if item[0] == 'principal' %}
                            <li {% if item[1] == active_page %} class="active" {% endif %}>
                                <a href="{{ app.url_generator.generate(item[1]) }}"><i class="{{ item[2] }}"></i> {{ item[3] }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}

          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-file-o"></i>Cadastro<b
                          class="caret"></b></a>

              <ul class="dropdown-menu">
                  <li>
                      {% for item in app.session.get('usuario').recursos %}
                          {% if item[0] == 'cadastros' %}
                                  <li {% if item[1] == active_page %} class="active" {% endif %}>
                                      <a href="{{ app.url_generator.generate(item[1]) }}">{{ item[3] }}
                                      </a>
                                  </li>
                          {% endif %}
                      {% endfor %}

                  </li>
              </ul>
          </li>

          {#<li class="dropdown">#}
              {#<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-edit"></i>Alteração</i> <b#}
                          {#class="caret"></b></a>#}
              {#<ul class="dropdown-menu">#}
                  {#<li>#}
                      {#{% for item in app.session.get('usuario').recursos %}#}
                          {#{% if item[0] == 'alteracao' %}#}
                              {#<li {% if item[1] == active_page %} class="active" {% endif %}>#}
                                  {#<a href="{{ app.url_generator.generate(item[1]) }}">{{ item[3] }}#}
                                  {#</a>#}
                              {#</li>#}
                          {#{% endif %}#}
                      {#{% endfor %}#}
                  {#</li>#}
              {#</ul>#}
          {#</li>#}

      </ul>
    </div>

{% endblock %}

{% block header %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-20">
            <ol class="breadcrumb">
                <li class="active">
                    {% for item in app.session.get('usuario').recursos %}
                        {% if item[1] == active_page %}
                            <i class="{{ item[2] }}"></i> {{ item[3] }}
                        {% endif %}
                    {% endfor %}
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
