{% extends 'template/templateSemMenu.twig' %}

{#[Nome da rota, ícone, texto de exibição]#}

{% set navigation_bar = [
['home','fa fa-fw fa-home', 'Home'],
['cadTipoOperador' ,'fa fa-fw fa-edit', 'Cadastro Tipo Operador'],
['cadTipoPaciente' ,'fa fa-fw fa-edit', 'Cadastro Paciente'],
['cadTipoCampus' ,'fa fa-fw fa-edit', 'Cadastro Campus'],
['cadOperador' ,'fa fa-fw fa-edit', 'Cadastro Operador'],
['cadAnamnese' ,'fa fa-fw fa-edit', 'Anamnese'],
['cadAtendimento' ,'fa fa-fw fa-edit', 'Agendar Atendimento']
] %}

{% set cadastro_bar = [
['cadTipoPaciente' , 'Paciente'],
['cadTipoCampus' , 'Campus'],
['cadOperador' , 'Operador'],
['cadTipoOperador' , 'Tipo Operador'],
['cadAnamnese' , 'Anamnese'],
['cadAtendimento' , 'Agendar Atendimento'],
] %}

{% set alteracao_bar = [

] %}

{% set active_page = active_page|default('home') %}

{% block menu %}
    <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ app.session.get('usuario').nome }}
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/logout"><i class="fa fa-fw fa-power-off"></i>Sair</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- MENU DA ESQUERDA -->

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">

          <li>
              <a href="/home"><i class="fa fa-fw fa-home"></i>Home</a>
          </li>

          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-file-o"></i>Cadastro<b
                          class="caret"></b></a>

              <ul class="dropdown-menu">
                  <li>
                      {% for item in cadastro_bar %}
                          <li{% if item[0] == active_page %} class="active"{% endif %}>
                              <a href="{{ app.url_generator.generate(item[0]) }}">{{ item[1] }}
                              </a>
                          </li>
                      {% endfor %}

                  </li>
              </ul>
          </li>

          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-edit"></i>Alteração</i> <b
                          class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li>

                  </li>
              </ul>
          </li>

          <li>
              <a href="/logout"><i class="fa fa-fw fa-power-off"></i>Sair</a>
          </li>


      </ul>
    </div>

{% endblock %}

{% block header %}
    {% set pgAtual = 'Cadastro de tipo de operador' %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-20">
            {% for item in navigation_bar %}
                {% if item[0] == active_page %}
                {% endif %}
            {% endfor %}
            <ol class="breadcrumb">
                <li class="active">
                    {% for item in navigation_bar %}
                        {% if item[0] == active_page %}
                            <i class="{{ item[1] }}"></i> {{ item[2] }}
                        {% endif %}
                    {% endfor %}
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
